body {
  background-image: url("https://getwallpapers.com/wallpaper/full/7/b/5/1358580-best-adventure-time-bmo-wallpaper-1920x1080-pc.jpg");
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-top: 10%;
}

html {
  height: 100%;
  width: 100%;
}

#myCanvas {
  border-radius: 30px;
  border: 15px double #8bbcbbff;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.pic {
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 30px;
  border: 15px double #8bbcbbff;
}

h2 {
  color: black;
}
h1 {
  color: white;
}

#start {
  text-align: left;
}

#end {
  text-align: right;
}
